################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CBMWebApi/obj
/Models/obj
/Respository/obj
/Services/obj
/CBMCenterApi/obj
/CBMCenterApi/bin
/CBMWebApi/bin
/Models/bin
/Respository/bin
/Services/bin
