################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CBMWebApi/obj
/Models/obj
/Respository/obj
/Services/obj
/CBMCenterApi/obj/Debug/net6.0
/CBMCenterApi/bin/Debug/net6.0
/Models/bin/Debug/net6.0
/Respository/bin/Debug/net6.0
/Services/bin/Debug/net6.0
/CBMCenterApi/obj
